<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Daily Journal</title>
</head>
<body>
    <nav>
        <ul>
            <li class="heading">DAILY JOURNAL</li>
            <span class="navigators">
                <li class="navi"><a href="/" class="naviLink">HOME</a></li>
                <li class="navi"><a href="/about" class="naviLink">ABOUT US</a></li>
                <li class="navi"><a href="/contact" class="naviLink">CONTACT US</a></li>
            </span>
        </ul>
    </nav>
    <div class="content">